.blog-entry-list-container {
    margin: 5vh;
    margin-top: 8vh;
    font-family: monospace;
}

.star-spin {
    width: 200px;
    height: 150px;
}

.blog-entry-item {
   margin-top: 8vh;
}

.crystal-castles {
    width: 200px;
    height: 200px;
}