.league-list-wrapper {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    
}

.league-list-item {
    margin-left: 5%;
    margin-top: 2%;
    font-family: monospace;
    font-size: small;
}

.win {
    background-color: green;
    font-weight: lighter;
    text-align: center;
    padding: 3px;
    border: 1px solid black;
    border-radius: 8px;
}

.loss {
    padding: 3px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: firebrick;
    font-weight: lighter;
    text-align: center;
}

.loading-matches {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-weight: lighter;
}

.pos-kda {
    color: green;
    font-weight: bolder;
}

.neg-kda {
    color: red;
    font-weight: bolder;
}

.mastery-card-wrapper {
    margin: 1rem;
    display: flex;
    flex-direction: row; 
    overflow-x: auto;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.mastery-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-width: 250px;
    padding-left: 3%;
    padding-right: 3%;
}

.mastery-text {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    font-family: monospace;
    font-size: small;
}

.mastery-card img {
    width: 64px;
    height: 64x;
    object-fit: contain;
}

.mastery-text p {
  margin: 0;
}

.summoner-header-info-wrapper { 
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    gap: 0.33rem;
    padding-top: 2rem;
}

.summoner-header-info-wrapper p {
    margin: 0;
}